*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 font-family: monospace;
}
body{
 min-height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: #f2f2f2;
}
.circle{
 transform-style: preserve-3d;
 animation: animate 8s linear infinite;
}

@keyframes animate{
 0%{
  transform: perspective(1000px) rotateY(360deg) rotateX(15deg);
 }
 100%{
  transform: perspective(1000px) rotateY(0deg) rotateX(15deg);
 }
}



.circle .char{
 position: absolute;
 top: 0;
 left: 0;
 background: #ffff00;
 color: #000;
 font-size: 50px;
 padding: 5px 20px;
 border-top: 4px solid #000;
 border-bottom: 4px solid #000;
 transform-style: preserve-3d;
 transform-origin: center;
 transform: rotateY(calc(var(--char-index) * 12deg ))
 translateZ(250px);
}